/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of Meyer Reset*/

html{
    font-size: min(1vw, 1vh);
}

body {
    width: 100vw;
    height: 100vh;
    display:flex;
}

.left {
    width: 37.5%;
    height: 100vh;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.left a {
    color: white;
}

@font-face {
    font-family: norse;
    src: url(fonts/Norse-Bold.otf);
}

.left .hero {
    width: 100%;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    width: 18%;
    height: auto;
}

.left h1 {
    font-family: norse, sans-serif;
    font-size: 20rem;
    color: white;
}



.left footer {
    font-family: sans-serif;
    font-size: 2rem;
    color: white;
    margin-top: 55vh;
    
}

.right {
    width: 62.5%;
    height: 100vh;
    background-color: lightblue;
    display:flex;
    flex-direction: column;
}

/* top right styling*/
.top, .bottom {
    height:32%;
    background-color: rgb(241, 239, 239);
}

.top .text {
    max-width: 80%;
}

.top h2 {
    margin-top: 13vh;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    margin-left: 4vw;
    font-weight: bolder;
}

em {
    font-style: italic;
}

/* middle right styling*/

.middle {
    height: 36%;
    background-color: white;
    box-shadow: 5px 5px 5px lightgray, 0px -1px 2px lightgray; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    border: 2px solid lightblue;
    border-radius: 5px;
    width: 20vw;
    height: 3vh;
}



input:valid{
    border: 2px solid lightgreen;
}

input:focus{
    border: 2px solid blue;
    outline: none;
    box-shadow: inset 2px 2px 3px gray, inset -2px -2px 3px gray;
}



.form {
    margin-left: 4vw;
}

#myform {
    display: flex;
    gap: 3vw;
    row-gap: 3vh;
    flex-wrap: wrap;
}

.unit {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Bottom styling */

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    width: 10vw;
    height: 5.5vh;
    margin-left: 4vw;
    background-color: #596D48;
    color: white;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
}

.bottom p {
    margin-left: 4vw;
    margin-bottom: 15vh;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}